
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/dashboard.html}">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/richtext/res/style.css" />
<link rel="stylesheet"
	href="/richtext/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtext/richtexteditor/rte.js"></script>
<script>RTE_DefaultConfig.url_base='/richtext/richtexteditor'</script>
<script type="text/javascript"
	src='/richtext/richtexteditor/plugins/all_plugins.js'></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mx-auto mt-20">
			<form
				th:action="@{'/admin/categories/detail/'+${chapter.categoryId}+'/chapters/detail/'+${chapter.id}+'/lessons/detail/'+${lesson.id}+'/posts/save'}"
				th:object="${post}" method="post" enctype="multipart/form-data">
				<div>
					<h3 class="text-3xl mb-6" th:unless="${post.edit}">New post</h3>
					<h3 class="text-3xl mb-6" th:if="${post.edit}">Update post</h3>
				</div>
				<div th:if="${success!=null}"
					class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800"
					role="alert">
					<span class="font-medium">Success!</span> <span
						th:text="${success}"></span>
				</div>
				<div th:if="${error!=null}"
					class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
					role="alert">
					<span class="font-medium">Error!</span> <span th:text="${error}"></span>
				</div>
				<input type="hidden" th:field="*{edit}" />
				<div class="mb-6" th:if="${post.edit}">
					<label for="id"
						class="block mb-2 text-sm font-medium text-gray-900">ID</label> <input
						type="text" id="id" th:field="*{id}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				</div>
				<div class="mb-6">
					<label for="title"
						class="block mb-2 text-sm font-medium text-gray-900">Title</label>
					<input type="text" id="title" th:field="*{title}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					<p th:if="${#fields.hasErrors('title')}"
						class="mt-2 text-sm text-red-600 dark:text-red-500">
						<span class="font-medium">Oops!</span> <span th:errors="*{title}"></span>
					</p>
				</div>
				<div class="mb-6">
					<label for="description"
						class="block mb-2 text-sm font-medium text-gray-900">Description</label>
					<textarea cols="4" rows="6" id="description"
						th:field="*{description}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
						</textarea>
					<p th:if="${#fields.hasErrors('description')}"
						class="mt-2 text-sm text-red-600 dark:text-red-500">
						<span class="font-medium">Oops!</span> <span
							th:errors="*{description}"></span>
					</p>
				</div>
				<div class="mb-6">
					<label for="group"
						class="block mb-2 text-sm font-medium text-gray-900 ">Type</label>
					<select id="type" th:field="*{typeId}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
						<option th:each=" type: ${types}" th:value="${type.id}"
							th:selected="${type.id == post.typeId}" th:text="${type.name}"></option>
					</select>
					<p th:if="${#fields.hasErrors('typeId')}"
						class="mt-2 text-sm text-red-600 dark:text-red-500">
						<span class="font-medium">Oops!</span> Type is required or invalid
					</p>
				</div>
				<div class="mb-6">
					<input id="image" type="hidden" th:field="*{image}" />
					<div id="preview"
						th:class="'flex justify-center mb-6 '+${post.edit && post.image!=null ?'':'hidden'}">
						<img class="w-[400px]" id="image-preview"
							th:src="@{'../images/'+${post.edit && post.image!=null ?post.image:'default.jpg'}}" />
					</div>
					<label for="imageFile"
						class="block mb-2 text-sm font-medium text-gray-900">Image</label>
					<input id="imageFile" type="file" name="imageFile"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
				</div>
				<div class="mb-6" th:if="${post.edit}">
					<label for="slug"
						class="block mb-2 text-sm font-medium text-gray-900">Slug</label>
					<input type="text" id="slug" th:field="*{slug}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					<p th:if="${#fields.hasErrors('slug')}"
						class="mt-2 text-sm text-red-600 dark:text-red-500">
						<span class="font-medium">Oops!</span> <span th:errors="*{slug}"></span>
					</p>
				</div>
				<div class="mb-6">
					<div class="w-full">
						<textarea id="content"
							th:field="*{content}"
							class="hidden bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
						</textarea>
						<div id="editor"></div>
						<script th:inline="javascript">
				            var editorcfg = {}
				            editorcfg.tabSpaces = "&nbsp;&nbsp;&nbsp;"
				            var editor = new RichTextEditor("#content", editorcfg);
				        </script>
					</div>
				</div>
				<div class="mb-6">
					<input id="file" type="hidden" th:field="*{file}" /> 
					<div id="preview-pdf"
						th:class="'flex justify-center mb-6 '+${post.edit && post.image!=null ?'':'hidden'}">
						<iframe class="w-full" height="1200px" id="pdf-preview"
							th:src="@{'../files/'+${post.edit && post.file!=null ?post.file:''}}" ></iframe>
					</div>
					<label
						for="filePdf" class="block mb-2 text-sm font-medium text-gray-900">File
						Pdf</label> <input id="filePdf" type="file" name="filePdf"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
				</div>
				<button th:unless="${post.edit}" type="submit"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Add
					post</button>
				<button th:if="${post.edit}" type="submit"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">Update
					post</button>
			</form>
		</div>
		<script type="text/javascript" th:inline="javascript">
		
        var fileImage;
        $("#imageFile").on('change', function(e){
            if (fileImage) {
                URL.revokeObjectURL(fileImage.preview);
            }
            fileImage = e.target.files[0];
            fileImage.preview = URL.createObjectURL(fileImage);
            $("#image-preview").attr("src", fileImage.preview);
            $("#preview").removeClass("hidden");
        })

        var filePdf;
        $("#filePdf").on('change', function(e){
            if (filePdf) {
                URL.revokeObjectURL(filePdf.preview);
            }
            filePdf = e.target.files[0];
            filePdf.preview = URL.createObjectURL(filePdf);
            $("#pdf-preview").attr("src", filePdf.preview);
            $("#preview-pdf").removeClass("hidden");
        })

		window.onbeforeunload = function (e) {
        	URL.revokeObjectURL(fileImage.preview);
            URL.revokeObjectURL(filePdf.preview);
        };
		</script>
	</div>
</body>
</html>