<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/dashboard.html}">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/richtext/res/style.css" />
<link rel="stylesheet"
	href="/richtext/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtext/richtexteditor/rte.js"></script>
<script>RTE_DefaultConfig.url_base='/richtext/richtexteditor'</script>
<script type="text/javascript"
	src='/richtext/richtexteditor/plugins/all_plugins.js'></script>
</head>
<body>
	<div layout:fragment="content">
		<div th:unless="${post!=null}">
			<div class="w-full flex h-[70vh] justify-center items-center">
				<div class="text-center">
					<p class="text-4xl mb-10">Post is empty</p>
					<div>
						<a th:href="@{'posts/add'}"
							class="text-white text-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 mr-2 ml-5 focus:outline-none">Add</a>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${post!=null}">
			<div class="flex justify-end">
				<a class="text-blue-600" th:href="@{'posts/edit/'+${post.id}}">
					<svg class="w-6 h-6" fill="none" stroke="currentColor"
						viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path stroke-linecap="round" stroke-linejoin="round"
							stroke-width="2"
							d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
				</a>
				</td> </a>
			</div>
			<div class="container mx-auto pb-10">
				<div class="mt-10">
					<h1 class="text-3xl font-medium text-center"
						th:text="${post.title}"></h1>
				</div>
				<div class="flex justify-center mt-10">
					<img class="w-[600px]" th:src="@{'posts/images/'+${post.image}}" />
				</div>
				<div class="mt-10">
					<div class="w-full">
						<div class="w-full">
							<div id="preview"></div>
						</div>
					</div>
				</div>
				<div class="mt-10">
					<h1 class="text-xl font-medium">File PDF</h1>
					<div class="mt-10"></div>
				</div>
			</div>
			<script th:inline="javascript">
				const html = '[[${post.content}]]';
				$("#preview").html(html.slice(1,html.length-1));
			</script>
		</div>
	</div>
</body>
</html>